@charset "utf-8";
/* CSS Document */

.inner-setings{
		
}
.inner-setings td{
	border:none;	
}
.inner-setings td input[type="text"]{
	width:255px;	
}
.inner-setings td span{
	display:block;
	color:#bebdbd;
	font-style:italic;
	margin:5px 0 15px 0;	
}
.inner-setings td select{
	min-width:125px;	
}
.inner-setings td textarea{
	width:445px;
	resize:none;
	height:220px;	
}
#st_upload_button{
	margin-left:10px;	
}
.errorr{
	background-color: #ffebe8;
	border:1px solid #c00;
	border-radius:5px;
	padding:2px 10px;
}
.success{
	/*background:;
	border:1px solid #096;*/
	border-radius:5px;
	padding:2px 10px;
}


/* Widget Select */
.widget-select {
}
.wdgt1 {
	width: 199px;
	height: 123px;
	display: block;
	float: left;
	border: #d7d7d7 1px solid;
	margin: 0 20px 0 0;
	background: url(images/widget1.jpg) no-repeat;
}
.wdgt2 {
	width: 376px;
	height: 94px;
	display: block;
	float: left;
	border: #d7d7d7 1px solid;
	background: url(images/widget2.jpg) no-repeat;
}
