#shrink {
	height: auto;
	overflow:hidden;
	padding: 7px;
	 width: 310px; 
	border: 1px solid #7d7d7d;
}
#shrink .r1 , #shrink .r2 ,#shrink .r3 , #shrink .r4{
	width:290px;
	}



#shrink img {
	width: 23px;
	height: 19px;
	padding: 0 15px 0 15px;
	border: none;
	box-shadow: none;
}
#shrink div {
	padding: 0 14px;
}
.date {
	background: #999;
	text-align: right;
	color: #FFF;
}
.r1 {
	line-height: 30px;
	float: left;
}
.r2 {
	line-height: 30px;
	float: left;
}
.r3 {
	line-height: 30px;
	float: left;
}
.r4 {
	line-height: 30px;
	float: left;
}
#wide .r1, #wide .r2, #wide .r3, #wide .r4 {
	width:285px;
	display:block;
	}
#wide {
	border: 1px solid #7d7d7d;
	height: auto;
	overflow:hidden;
	padding: 5px;
	width:auto;
	min-width: 495px;
}
#wide img {
	width: 23px;
	height: 19px;
	padding: 0 15px 0 15px;
	border: none;
	box-shadow: none;
}
#wide div {
	padding: 0 10px;
}
.metal-name {
	display: inline-block;
	width: 76px;
	text-align: right;
	float: left;
}
.metal-icon {
	display: inline-block;
	padding: 3px 0 0;
	float: left;
}
.metal-price {
	display: inline-block;
	font-weight: bold;
	float: left;
}
.metal-unit {
	display:inline-block;
	font-size:12px;
	}
